@use "src/styles" as global;

.main__header {
  @include global.container-padding-sm;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  box-shadow: 0 0 2rem rgba(0,0,255,0.3);
  background-color: white;
  margin: 0;
  align-items: center;
  transition: background-color global.$dark-mode-transition-time;
  animation: 1s ease-in-out 0ms 1 fadein;
}

:host-context(.global-dark-mode) .main__header {

  background-color: black;
  color: white;
}
.main__header-dark {
}

.left__section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  max-width: 5rem;
}

.date__text {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: inline;
  margin: 0.5rem 0;
  text-align: center;
}

.mode-toggle__container {
  display: grid;
  padding-right: 1rem;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: end;
}

.mode-toggle__text {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/*SVGs*/
.hamburger__icon {
  position: relative;
  height: 1rem;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  fill: #2B244D;
}

.hamburger__icon-dark {
  fill: #ffffff;
}

.logo__icon {
  height: 2rem;
  margin-left: 1rem;
}

.logo__text {
  fill: #2B244D;
}

.logo__text-dark {
  fill: #ffff;
}


