@use "src/styles" as global;

.weather__card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 19rem;
  height: 30rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 2rem rgba(0,0,255,0.1);
  justify-items: center;
  cursor: pointer;
  background-color: white;
  border-radius: 1.75rem;
  animation: 1.25s ease-in-out 0ms 1 fadein;
  transition: background-color global.$dark-mode-transition-time,
              color, global.$dark-mode-transition-time;
}

:host-context(.global-dark-mode) .weather__card {
  background-color: #0c1066;
  color: white;
}

.city-name__text {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

.icon__container {
  width: 10rem;
  margin-bottom: 2rem;
  text-align: center;
}

.temperature__text {
  align-self: end;
  width: 100%;
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
}

.temperature-metric__text {
  text-align: start;
  font-size: 3rem;
}

.weather-condition__text {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
}

.min-max__container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.min__container, .max__container {
  margin: 1rem 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

.max-arrow__icon {
  transform: translateY(1rem);
}

.max__text {
  color: #FF0070;
}

.min__text {
  color: #00FF9B;
}

.max__text, .min__text {
  font-size: 1rem;
  text-align: center;
}

.max-temperature__text, .min-temperature__text {
  font-size: 2rem;
}


