@use "src/styles" as global;

.toggle-button__container {
  cursor: pointer;
  position: relative;
  height: 1.2rem;
  @include global.vertical-center-mixin;
}

.mode-toggle__input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.mode-toggle__bg {
  height: 1rem;
  width: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
  transition: background-color global.$dark-mode-transition-time;
}

.mode-toggle__circle {
  height: 1.3rem;
  width: 1.3rem;
  background-color: #2B244D;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(0,0,255, 0.5);
  transition: left global.$dark-mode-transition-time,
              background-color global.$dark-mode-transition-time;
  left: 0.1rem;
}

.mode-toggle__circle-checked {
  background-color: white;
  left: 1.5rem;
}

.mode-toggle__bg-checked {
  background-color: #02ff9b;
}


