/* You can add global styles to this file, and also import other style files */

@mixin box-mixin {
  border: 1px solid black;
}

.box {
  @include box-mixin;
}

.float-right {
  float: right;
}

$dark-mode-transition-time: 200ms;

@mixin vertical-center-mixin {
  display: flex;
  align-items: center;
}

.vertical-center {
  @include vertical-center-mixin;
}
