/* You can add global styles to this file, and also import other style files */

.box {
  border: 1px solid black;
}

.float-right {
  float: right;
}

@mixin vertical-center-mixin {
  display: flex;
  align-items: center;
}

.vertical-center {
  @include vertical-center-mixin;
}
