/* You can add global styles to this file, and also import other style files */
@use "assets/scss/reset";


$dark-mode-transition-time: 200ms;

@mixin box-mixin {
  border: 1px solid black;
}

.box {
  @include box-mixin;
}

.float-right {
  float: right;
}


@mixin vertical-center-mixin {
  display: flex;
  align-items: center;
}

.vertical-center {
  @include vertical-center-mixin;
}

@mixin container-padding {
  padding: 1rem 1.5rem;
}

@mixin container-padding-sm {
  padding: 0.1rem 0rem;
}
